/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    /* ================= MACROS (FR – QWERTY US-International) ================= */
    macros {
        /* Apostrophe "directe" : appui = ' (sans devoir faire ' + espace à la main)
         * Variante A (recommandée). Si tu observes un espace en trop, remplace par:
         * bindings = <&macro_tap &kp SQT &kp SPACE &kp BSPC>;
         */
        apos: apos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT &kp SPACE>;
        };

        e_acute: e_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT &kp E>;   /* ' + e => é */
        };

        e_grave: e_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp E>; /* ` + e => è */
        };

        e_circ: e_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp E>; /* ^ + e => ê */
        };

        e_dia: e_dia {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp DQT &kp E>;   /* " + e => ë */
        };

        a_grave: a_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp A>; /* ` + a => à */
        };

        a_circ: a_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp A>; /* ^ + a => â */
        };

        i_circ: i_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp I>; /* ^ + i => î */
        };

        i_dia: i_dia {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp DQT &kp I>;   /* " + i => ï */
        };

        o_circ: o_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp O>; /* ^ + o => ô */
        };

        u_grave: u_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp U>; /* ` + u => ù */
        };

        u_circ: u_circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp U>; /* ^ + u => û */
        };

        /* ç : sur beaucoup de layouts US-International, AltGr + , puis c */
        c_cedilla: c_cedilla {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_press   &kp RALT>
                , <&macro_tap     &kp COMMA>
                , <&macro_release &kp RALT>
                ;
        };

    };

    /* ================= KEYMAP ================= */
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                         &kp N6   &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                          &kp Y    &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                          &kp H    &kp J     &kp K      &kp L    &kp SEMI  &apos
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LBKT     &kp RBKT  &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LGUI  &mo 1   &kp SPACE    &kp RET   &mo 2    &kp BSPC  &kp RGUI
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans            &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_TOG
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                          &kp F7            &kp F8           &kp F9           &kp F10          &kp F11          &kp F12
&kp GRAVE   &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                       &kp CARET         &kp AMPS         &kp KP_MULTIPLY  &kp LPAR         &kp RPAR         &kp TILDE
&trans      &trans        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans    &trans  &trans            &kp MINUS        &kp KP_PLUS      &kp LBRC         &kp RBRC         &kp PIPE
                                        &trans        &trans        &trans        &trans    &trans  &trans            &trans           &trans
            >;
        };

        raise_layer {
            display-name = "Accents";
            bindings = <
&trans   &trans   &trans    &trans     &trans    &trans                         &trans   &trans    &trans    &trans    &trans   &trans
&trans   &trans   &trans    &e_acute   &e_grave  &e_circ                        &trans   &u_grave  &i_circ   &o_circ   &u_circ  &e_dia
&trans   &a_grave &trans    &a_circ    &trans    &trans                         &trans   &trans    &i_dia    &trans    &trans   &trans
&trans   &trans   &trans    &c_cedilla &trans    &trans   &trans      &trans     &trans   &trans    &trans   &trans   &trans   &trans
                           &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        extra_1 { status = "reserved"; };
        extra_2 { status = "reserved"; };
        extra_3 { status = "reserved"; };
    };
};
